<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>(Ponies) Tasks</h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="pony-form" style="display:none;margin-bottom:40px;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="ponies"><%= render @ponies %></div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <hr>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <%= link_to new_pony_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
    <br><br>
  </div>
</div>
